{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
   {% for m in messages %}
   <h6 class="text-center text-success"> {{m}}</h6>
   {% endfor %}
    {% endif %}


  <form style="width:50%;margin:auto;" class="mt-5" method="post">
    {% csrf_token %}
    <h2>{{ type }} page</h2>
    <!-- {{ form | crispy }} -->
    {% for fm in form %}
      {{ fm.label_tag }}
      {{ fm }}
      {{ fm.errors | striptags }}
    {% endfor %}
    <button class="btn btn-warning mb-5">Submit</button>
  </form>
{% endblock %}
